<div class="row">
    <div id="search-results" ng-class="{'col-md-12':!panelOpen, 'col-md-7':panelOpen}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="20%">Author</th>
                <th width="40%">Title</th>
                <th width="10%">Responses</th>
                <th width="30%">Tags</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in questions">
                <td>
                    <b class="author-name" ng-bind-html="question.author"
                       ng-click="onAuthorClick(question.author_id, question.author)">
                    </b>
                </td>
                <td><a class='question-title' href="#/question/{{question.id}}" ng-bind-html="question.title"></a></td>
                <td><a href="#/question/{{question.id}}"><span class="badge">{{question.answer_count}}</span></a></td>
                <td>
                    <span class="label label-default" ng-click="onTagClick(tag)" ng-repeat="tag in question.tags">{{tag}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <more-info questions="panelQuestions" opened="panelOpen" info="panelInfo"></more-info>
</div>