body {
    padding-top: 50px;
}

.label {
    margin: 0 2px;
    cursor: pointer;
    display: inline-block;
}

.label:hover {
    background-color: hsl(0, 0%, 30%);
}

#more-search {
    right: 0;
    max-width: 40%;
    min-width: 22px;
    height: 100vh;
    overflow-y: scroll;
    float: none;
    position: fixed;
}

.sidebar .btn-show-hide, .sidebar .more-results {
    display: inline-block;
}

.more-results {
    margin-left: 22px
}

.more-results table {
    min-width: 400px;
    table-layout: fixed;
}

.more-results table td {
    word-wrap: break-word;
}

.more-results h3 {
    text-align: center;
}

.btn-show-hide {
    width: 22px;
    position: fixed;
    height: 99vh;
    line-height: 99vh;
    background-color: hsl(0, 0%, 13%);
    cursor: pointer;
    text-align: center;
    color: white;
}

.btn-show-hide:hover {
    background-color: hsl(0, 0%, 30%);
}

.btn-show-hide.opened .left {
    display: none;
}

.btn-show-hide.closed .right {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

#search-results .question-title {
    text-decoration: none;
}

#search-results .author-name {
    cursor: pointer
}

/* Stop navbar from collapsing */
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-header {
    float: left;
}

/* Stop navbar from collapsing */